*{

    margin: 0;
    padding: 0;
    box-sizing: border-box;

}


.main{

    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgb(38, 1, 37);
    
}
h1{

    color: white;
    font-size: 30px;
    margin-bottom: 30px;
    
}

.content{


    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    background-color: rgb(3, 53, 36);
    width: 300px;
    height: 300px;
    border-radius: 10px;
    margin-bottom: 30px;

}

.content input {
    height: 30px;
    margin: 10px;
    padding: 5px;

}

#btn{

    font-size: 20px;
    width: 100px;
    height: 50px;
    margin-top: 70px ;
    background: rgb(174, 219, 255);
    transition: ease-in;

}

#btn:hover{


    background-color: brown;
    color: white;

}